In [1]:
from src.utils import retrieve_data_from_db
import pandas as pd
import numpy as np

In [9]:
df = retrieve_data_from_db(r'C:\Users\James\OneDrive\Desktop\house_price_prediction\house_data.db','house_data')

In [10]:
df.head()

,area,floorRange,noOfUnits,contractDate,typeOfSale,price,propertyType,district,typeOfArea,tenure,mktSegment
0,308,-,1,0921,3,5200000,Semi-detached,05,Land,Freehold,RCR
1,257,-,1,0522,3,4600000,Terrace,05,Land,Freehold,RCR
2,249,01-05,1,0123,3,4609400,Condominium,04,Strata,99 yrs lease commencing from 2007,CCR
3,77,36-40,1,0424,3,1960000,Apartment,03,Strata,99 yrs lease commencing from 2016,RCR
4,93,01-05,1,1020,3,1500000,Apartment,03,Strata,Freehold,RCR

### Remove tenure and noofunits cause they are not useful

## Some simple data exploration

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          3585 non-null   object
 1   floorRange    3585 non-null   object
 2   noOfUnits     3585 non-null   object
 3   contractDate  3585 non-null   object
 4   typeOfSale    3585 non-null   object
 5   price         3585 non-null   object
 6   propertyType  3585 non-null   object
 7   district      3585 non-null   object
 8   typeOfArea    3585 non-null   object
 9   tenure        3585 non-null   object
 10  mktSegment    3585 non-null   object
dtypes: object(11)
memory usage: 308.2+ KB

### Convert features area,price to numerical

In [6]:
df.describe()

,area,floorRange,noOfUnits,contractDate,typeOfSale,price,propertyType,district,typeOfArea,tenure,mktSegment
count,3585,3585,3585,3585,3585,3585,3585,3585,3585,3585,3585
unique,1351,14,24,61,3,1317,9,21,2,107,3
top,113,01-05,1,0723,3,2000000,Apartment,15,Strata,Freehold,OCR
freq,34,1407,3538,278,3399,30,1519,635,2388,2797,1299

In [14]:
df.isna().sum()

area            0
floorRange      0
noOfUnits       0
contractDate    0
typeOfSale      0
price           0
propertyType    0
district        0
typeOfArea      0
tenure          0
mktSegment      0
dtype: int64