In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,area,floorRange,noOfUnits,contractDate,typeOfSale,price,propertyType,district,typeOfArea,tenure,mktSegment
0,308.0,-,1,921,3,5200000,Semi-detached,5,Land,Freehold,RCR
1,257.0,-,1,522,3,4600000,Terrace,5,Land,Freehold,RCR
2,249.0,01-05,1,123,3,4609400,Condominium,4,Strata,99 yrs lease commencing from 2007,CCR
3,77.0,36-40,1,424,3,1960000,Apartment,3,Strata,99 yrs lease commencing from 2016,RCR
4,93.0,01-05,1,1020,3,1500000,Apartment,3,Strata,Freehold,RCR

In [5]:
df.shape

(3585, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area          3585 non-null   float64
 1   floorRange    3585 non-null   object
 2   noOfUnits     3585 non-null   int64
 3   contractDate  3585 non-null   int64
 4   typeOfSale    3585 non-null   int64
 5   price         3585 non-null   int64
 6   propertyType  3585 non-null   object
 7   district      3585 non-null   int64
 8   typeOfArea    3585 non-null   object
 9   tenure        3585 non-null   object
 10  mktSegment    3585 non-null   object
dtypes: float64(1), int64(5), object(5)
memory usage: 308.2+ KB

typeofSale: should be categoical variable

noOfUnits: remove

contractDate: I will just extract last two numbers which is the Year

In [7]:
df.describe()

,area,noOfUnits,contractDate,typeOfSale,price,district
count,3585.000000,3585.000000,3585.000000,3585.000000,3.585000e+03,3585.000000
mean,281.895676,1.366248,670.650209,2.907950,5.078949e+06,13.403068
std,1252.855246,8.653487,314.682513,0.404917,2.137065e+07,4.487102
min,30.000000,1.000000,120.000000,1.000000,3.400000e+05,1.000000
25%,97.000000,1.000000,423.000000,3.000000,1.503888e+06,10.000000
50%,148.800000,1.000000,623.000000,3.000000,2.500000e+06,14.000000
75%,257.000000,1.000000,922.000000,3.000000,4.310000e+06,16.000000
max,57584.000000,446.000000,1223.000000,3.000000,8.900000e+08,21.000000

In [9]:
print(df.isnull().sum())

area            0
floorRange      0
noOfUnits       0
contractDate    0
typeOfSale      0
price           0
propertyType    0
district        0
typeOfArea      0
tenure          0
mktSegment      0
dtype: int64

In [14]:
df.groupby('propertyType')['price'].mean()

propertyType
Apartment                2.590908e+06
Condominium              6.532673e+06
Detached                 1.806831e+07
Executive Condominium    1.500727e+06
Semi-detached            6.059235e+06
Strata Detached          4.280175e+06
Strata Semi-detached     4.535714e+06
Strata Terrace           3.879419e+06
Terrace                  3.895908e+06
Name: price, dtype: float64

In [21]:
df['floorRange'].value_counts()

floorRange
01-05    1407
-        1347
06-10     397
11-15     229
16-20      94
21-25      48
26-30      24
31-35      19
36-40      11
41-45       4
46-50       2
51-55       1
B1-B5       1
56-60       1
Name: count, dtype: int64